footnote {
    display: none;
}

.footnote-index {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
    position: relative;
}

.popover {
    position: absolute;
    background: white;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
    display: none;
    max-width: 50ch;
    /* Limit to 50 characters wide */
    word-wrap: break-word;
}

.popover::after {
    content: '';
    position: absolute;
    top: -10px;
    /* Position the triangle */
    left: 10px;
    /* Center the triangle */
    border-width: 0 10px 10px 10px;
    /* Make it upwards facing */
    border-style: solid;
    border-color: transparent transparent white transparent;
}

.popover::before {
    content: '';
    position: absolute;
    top: -11px;
    /* Position the shadow triangle */
    left: 11px;
    /* Center the triangle */
    border-width: 0 11px 11px 11px;
    /* Make it upwards facing */
    border-style: solid;
    border-color: transparent transparent #ccc transparent;
}