a.footptr {
    vertical-align: super;
    font-size: .83em;
    text-decoration: none;
}
a.refptr {
    text-decoration: none;
}
.foot-tooltip {
    background-color: #AAAAAA22;
    padding-top: 0.5em;
    padding-bottom: 0.5em;
    padding-left: 1em;
    opacity: 0;
	-webkit-transition: opacity 0.3s linear;
	-moz-transition: opacity 0.3s linear;
	-o-transition: opacity 0.3s linear;
	-ms-transition: opacity 0.3s linear;
	transition: opacity 0.3s linear;
}

li:target {
    background-color: #BFEFFF;
}

ol#references {
    list-style:none;
	margin-left: 0;
	padding-left: 1.8em;
	text-indent: -1.8em;

    counter-reset: refcounter;
}
ol#references > li:before {
  content: "[" counter(refcounter) "] ";
  counter-increment: refcounter;
}

ol#footnotes {
    list-style:none;
	margin-left: 0;
	padding-left: 1.8em;
	text-indent: -1.8em;

    counter-reset: footcounter;
}
ol#footnotes > li:before {
  content: "(" counter(footcounter) ") ";
  counter-increment: footcounter;
}