	:root {
	    --body-background: #f5f5f5;
	    --text-color: #020202;
	    --link-color: #009cdf;
	}

	body,
	p {
	    color: var(--text-color);
	}

	body {
	    background: var(--body-background);
	    color: var(--text-color);
	}

	h1 {
	    text-shadow: none !important;
	}

	h2,
	h3,
	h4,
	h5,
	h6,
	nav {
	    text-align: left !important;
	    text-shadow: none !important;
	}

	h2 {
	    border-bottom: 1px solid #aaaaaa;
	}

	a {
	    color: var(--link-color);
	}

	aside nav ul li,
	.navbak {
	    font-size: 14px !important;
	    color: var(--body-background);
	}

	img {}

	span {
	    color: var(--text-color);
	}

	nav {
	    background: #0000 !important; //This makes the BG of the nav invible
	}

	.markdown div.speech {
	    border-bottom-right-radius: 0px !important;
	    border-left: 2px solid #ddd;
	    border-top-right-radius: 0px !important;
	    padding: 12px 24px 12px 70px;
	    border-radius: 0% !important;
	}

	div.speech:before {
	    background-color: #fff;
	    background-image: url("/nonfree/character/opguidesSiplick.png");
	    background-size: 75px;
	    border: 1px solid #777;
	    content: "";
	    left: -40px;
	    top: 4px;
	    position: absolute;
	    height: 75px;
	    width: 75px;
	}

	div.speech,
	tr:nth-child(2n) {
	    background-color: #fff !important;
	}

	div.speech.right {
	    background-color: #ddd !important;
	}

	::-webkit-scrollbar-thumb {
	    background: #ccc !important;
	}

	::-webkit-scrollbar-track {
	    background: #040;
	}

	.webhead {
	    background: linear-gradient(90deg, #F78200 50%, #009CDF 75%) !important;
	    -webkit-background-clip: text !important;
	    -webkit-text-fill-color: transparent;
	    margin-bottom: 0;
	}

	.markdown {
	    line-height: 1.6;
	}

	.book-menu a,
	.book-menu label {
	    color: #000;
	}

	dt,
	dd {
	    display: inline-block;
	    vertical-align: top;
	    margin: 0;
	    padding: 12px 10px 0 0;
	    color: #000;
	    font-size: small;
	}

	p.tip,
	tr:nth-child(2n) {
	    background-color: #fdd;
	}

	dd.blogdd {
	    color: #000 !important;
	}

	.markdown hr {
	    height: 1px;
	    background: #8880 !important;
	    width: 50%;
	    border-top: 2px dashed #888;
	}

	.markdown pre {
	    background-color: #fff !important;
	}

	.dayquote {
	    margin: 1em;
	    overflow: hidden;
	}

	.dayquote blockquote {
	    background-color: #f5f5f5;
	    border: solid 2px #757575;
	    margin: 0;
	    padding: 1em;
	    position: relative;
	}

	.dayquote blockquote:before {
	    background-color: #f5f5f5;
	    bottom: 20%;
	    content: "";
	    left: 0px;
	    position: absolute;
	    right: 0;
	    top: 20%;
	    transform: rotate(-5deg) skew(70deg);
	    z-index: 1;
	}

	.dayquote blockquote cite {
	    display: block;
	    font-style: italic;
	    text-align: right;
	}

	.dayquote blockquote cite:before {
	    content: "- ";
	}

	.dayquote blockquote>* {
	    position: relative;
	    z-index: 1;
	}