:root {
  --body-background: #fff6f1;
  --body-background-fg: #fcf0ea24;
  --text-color: #020202;
  --link-color:  #00930a;
  background-repeat: repeat-y;
}
body,
p {
  color: var(--text-color);
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 1.02em;
}
body {
  background-color: var(--body-background);
  background-image:  linear-gradient(var(--body-background-fg) 2px, transparent 2px), linear-gradient(90deg, var(--body-background-fg)  2px, transparent 2px), linear-gradient(var(--body-background-fg)  1px, transparent 1px), linear-gradient(90deg, var(--body-background-fg)  1px, var(--body-background) 1px);
  background-size: 50px 50px, 50px 50px, 10px 10px, 10px 10px;
  background-position: -2px -2px, -2px -2px, -1px -1px, -1px -1px;
  color: var(--text-color);
}
h1 {
  text-shadow: none !important;
  font-family: 'Julius Sans One', sans-serif !important;
}
h2,
h3,
h4,
h5,
h6,
nav {
  font-family: 'Julius Sans One', sans-serif !important;
  text-align: left !important;
  text-shadow: none !important;
}
h2 {
  border-bottom: 1px solid #aaaaaa;
}
a {
  color: var(--link-color);
  font-family: 'Edu NSW ACT Foundation', cursive;
  font-size: 1.02em;
}
aside nav ul li,
.navbak {
  font-size: 14px !important;
  color: var(--body-background);
}
span {
  color: var(--text-color);
}
nav {
  background: #0000 !important;
}
iframe:not(.no-box) {
  box-shadow: 5px 5px 10px #888888;
}
.markdown div.speech {
  border-bottom-right-radius: 0px !important;
  border-left: 2px solid #ddd;
  border-top-right-radius: 0px !important;
  padding: 12px 24px 12px 70px;
  border-radius: 0% !important;
}
div.speech:before {
  background-color: #fffcf4 !important;
  background-image: url("/nonfree/character/opguidesSiplick.png");
  background-size: 75px;
  border: 1px solid #777;
  content: "";
  left: -40px;
  top: 4px;
  position: absolute;
  height: 75px;
  width: 75px;
}
div.speech,
tr:nth-child(2n) {
  background-color: #fbfcee !important;
  box-shadow: 5px 5px 8px #888888;
}
div.speech.right {
  background-color: #f3f1f1 !important;
}
a.gradient-border2 {
  color: #000 !important;
  background: var(--body-background) !important;
}
div.speech.ai {
  width: 100% !important;
  background: linear-gradient(90deg, rgba(155, 198, 231, 0.9) 0%, rgba(243, 241, 234, 0.9) 100%), url(/common/texturebg2.webp) center center repeat !important;
}
::-webkit-scrollbar-thumb {
  background: #ccc !important;
}
::-webkit-scrollbar-track {
  background: #040;
}
.webhead {
  background: linear-gradient(90deg, #f78200 50%, #009cdf 75%) !important;
  -webkit-background-clip: text !important;
  -webkit-text-fill-color: transparent;
  margin-bottom: 0;
}
.markdown {
  line-height: 1.6;
}
.book-menu a,
.book-menu label {
  color: #000;
}
.book-page p{
  line-height: 1.7 !important;
}
dt,
dd {
  display: inline-block;
  vertical-align: top;
  margin: 0;
  padding: 12px 10px 0 0;
  color: #000;
  font-size: small;
}
p.tip,
tr:nth-child(2n) {
  background-color: #fdd;
}
dd.blogdd {
  color: #000 !important;
}
.markdown hr {
  height: 1px;
  background: #8880 !important;
  width: 50%;
  border-top: 2px dashed #888;
}
.markdown pre {
  background-color: #ff8c000b !important;
}
.dayquote {
  margin: 1em;
  overflow: hidden;
}
.dayquote{
  background-color: var(--body-background);

  margin: 0;
  padding: 1em;
  position: relative;
}
.spoiler:hover { 
  background-color:var(--body-background) !important;
  color: var(--text-color) !important; 
}
blockquote {
  background-color: #eef9fc !important;
  border: solid 1px #757575 !important;
}
.dayquote blockquote {
  background-color: var(--body-background) !important;
}

.dayquote blockquote:before {
  background-color: var(--body-background);
  bottom: 20%;
  content: "";
  left: 0px;
  position: absolute;
  right: 0;
  top: 20%;
  transform: rotate(-5deg) skew(70deg);
  z-index: 1;
}
.dayquote blockquote cite {
  display: block;
  font-style: italic;
  text-align: right;
}
.dayquote blockquote cite:before {
  content: "- ";
}
.dayquote blockquote > * {
  position: relative;
  z-index: 1;
}
.tip{
	background-color: #ffdfdfdc !important;
}
.foot-tooltip {
  background-color: #9e9e9e48 !important;
  color: #000 !important;
}
#webring-img, #logo {
  -webkit-filter: invert(1);
  filter: invert(1);
}
.quote {
  background-color: #fffa!important;
}
.book-tabs {
  margin-top: $padding-16;
  margin-bottom: $padding-16;

  border: solid 1px #757575 !important;
  border-radius: $border-radius;

  overflow: hidden;

  display: flex;
  flex-wrap: wrap;

  label {
    display: inline-block;
    padding: $padding-8 $padding-16;
    border: solid 1px #757575 !important;
  }

  .book-tabs-content {
    order: 999;
    width: 100%;
    border: solid 1px #757575 !important;
    padding: $padding-16;
    display: none;
  }
}